.Feed {
  column-width: 200px;
  column-gap: 0px;
  width: 100%; 
  padding-top: 100px;
}

.Feed--brick {
  display: inline-block;
  column-break-inside: avoid;
}

.Feed img {
  max-width: 200px;
  height: auto !important;
}

.Feed--loading {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  max-width: 1400px;
  margin: 0 auto;
}

.Feed--loading svg {
  padding: 25px;
  width: 400px;
}

.stream-item-header,
.js-tweet-text-container,
.stream-item-footer {
    display: none;
}

.AdaptiveMedia-singlePhoto {
  padding-top: 0 !important;
}

.__react_component_tooltip {
  max-width: 400px;
  opacity: 1 !important;
  p { font-size: 20px; }
  img { max-width: 400px; width: 400px !important; }
  a { color: #e17b3b; }
}