.Feed {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0;
  margin: 0;
  justify-content: center; }

.Feed ul {
  list-style-type: none;
  overflow: hidden;
  margin: 0; }

.Feed img {
  max-width: 200px; }

.stream-item-header,
.js-tweet-text-container,
.stream-item-footer {
  display: none; }

.AdaptiveMedia-singlePhoto {
  padding-top: 0 !important; }
